{% load static %} 
{% get_media_prefix as MEDIA_URL %}

<div class="bg-white px-4 py-6 justify-center items-center text-center" id="vestimenta">
    
    <h1 class="text-7xl font-extrabold text-gray-600 yellowtail-regular text-center mt-9 mb-9">Codigo de Vestimenta</h1>
    <img src="{{ MEDIA_URL }}icons/dresscode.png" alt="Codigo de Vestimenta" class="max-w-full h-auto mb-2 mx-auto">
    <h1 class="text-7xl font-extrabold text-gray-500 yellowtail-regular text-center mt-9 mb-9">Formal</h1>
</div>