<section id="cuenta_regresiva">
    <div class="bg-[url('../../media/cuenta-regresiva.jpg')] bg-cover bg-center bg-no-repeat min-h-screen h-[100svh]">
        <div class="max-w-md mx-auto p-6 text-center">
            <h2 class="text-4xl font-semibold mb-4 text-white yellowtail-regular">¡Faltan para el gran día!</h2>
            <div id="countdown" class="flex justify-center items-center gap-4 text-center text-gray-800 text-2xl font-bold my-8">
                <div>
                  <div id="days" class="text-5xl text-white">0</div>
                  <div class="text text-gray-500 caveat-500">Días</div>
                </div>
                <div>
                  <div id="hours" class="text-5xl text-white">0</div>
                  <div class="text text-gray-500 caveat-500">Horas</div>
                </div>
                <div>
                  <div id="minutes" class="text-5xl text-white">0</div>
                  <div class="text text-gray-500 caveat-500">Minutos</div>
                </div>
                <div>
                  <div id="seconds" class="text-5xl text-white">0</div>
                  <div class="text text-gray-500 caveat-500">Segundos</div>
                </div>
            </div>
        </div>
      
    </div>
        
</section>
