{% load static %} 
{% get_media_prefix as MEDIA_URL %}

<section id="compromiso" class="mt-9 mb-9">
    <div class="text-center justify-center">
        <h1 class="text-7xl font-extrabold text-gray-600 tangerine-bold mt-9 mb-9">Toda aventura comienza con un "Si"</h1>
        <div class="bg-white px-4 py-6 flex justify-center" id="nuestra-historia">
            <img src="{{ MEDIA_URL }}segunda.jpg" alt="Los novios" class="max-w-full h-auto rounded-xl shadow-md filter grayscale hover:grayscale-0 transition duration-500">
        </div>
        <h2 class="text-5xl font-bold text-gray-500 tangerine-bold">Hemos decidido unir nuestros caminos para juntos construir una vida llena de amor y felicidad.</h2>
    </div> 
</section>  