<section id="padres">
    <h1 class="text-7xl font-extrabold text-gray-600 yellowtail-regular text-center mt-9">Nuestros Padres</h1>
    <h2 class="text-5xl font-bold text-gray-500 tangerine-bold text-center">Gracias por habernos enseñado el valor de la familia y el amor.</h>
    <div class="bg-white flex flex-col md:flex-row items-center justify-center m-4" id="nuestra-historia">
    
        <div class="w-full md:max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow-sm m-4 text-center">
            <img src="../../media/icons/bride.png" class="h-10 mb-2 mx-auto" alt="Novia Logo" />
    
            <h5 class="mb-2 text-3xl font-semibold tracking-tight text-gray-900 yellowtail-regular">Padres de la Novia</h5>
            <p class="mb-3 text-2xl font-normal text-gray-500 tangerine-bold">Alberto Pelayo Villaseñor</p>
            <p class="mb-3 text-2xl font-normal text-gray-500 tangerine-bold">María Isabel Tirado Bueno</p>
        </div>
    
        <div class="w-full md:max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow-sm m-4 text-center">
            <img src="../../media/icons/groom.png" class="h-10 mb-2 mx-auto" alt="Novio Logo" />
            
            <h5 class="mb-2 text-3xl font-semibold tracking-tight text-gray-900 yellowtail-regular">Padres del Novio</h5>
            <p class="mb-3 text-2xl font-normal text-gray-500 tangerine-bold">Alfredo Antonio Zavaleta Escamilla</p>
            <p class="mb-3 text-2xl font-normal text-gray-500 tangerine-bold">Ruth García Sánchez</p>
        </div>
    
    </div>
</section>